body {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
}
h2 {
  margin: 0;
  font-size: 72px;
}
h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
}
a {
  color: rgba(0,0,255,0.65);
}
li {
  margin-bottom: 10px;
}
form {
  margin-right: 20px;
  float: left;
}
section {
  text-align: center;
  padding: 10% 5% 10% 5%;
}
.end {
  text-align: left;
  padding: 0;
  margin: 30px;
}
.inner {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}
#headers {
  background: black;
  color: white;
}
#welcome {
  background: white;
}
#maybe {
  background: black;
  color: white;
}
#history {
  background: white;
}
#play {
  background: black;
  color: white;
}
#submit {
  height: 50px;
  width: 250px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}
